.agai_color{
  fill: #d26dff
}

.agwara_color{
  fill: #07076d
}

.bida_color{
  fill: #ff9fd2
}

.borgu_color{
  fill: #9f6d3a
}

.bosso_color{
  fill: #ff0707
}

.chanchaga_color{
  fill: #ffd207
}

.edati_color{
  fill: #d26d3a
}

.gbako_color{
  fill: #3a07d2
}


.gurara_color{
  fill: #5d078d
}


.katcha_color{
  fill: #ffd29f;
}

.kontagora_color{
  fill: #ff6d07
}


.lapai_color{
  fill: #9f6d3a
}

.lavun_color{
  fill: #32164c
}

.magama_color{
  fill: #6d3a3a
}

.mariga_color{
  fill: #d29f3a
}

.mashegu_color{
  fill: #b9b9b9
}

.mokwa_color{
  fill: #9f07ff
}

.munya_color{
  fill: #d29fd2
}

.paikoro_color{
  fill: #9a0acc
}

.rafi_color{
  fill: #ff9f9f
}

.rijau_color{
  fill: #9fffff
}

.shiroro_color{
  fill: #9f9f3a
}

.suleja_color{
  fill: #3f0c72
}

.tafa_color{
  fill: #ff076d
}

.wushishi_color{
  fill: #6d6d3a
}
