
.state-name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.agai-color-label{
    background-color: #d26dff;
}

.agwara-color-label{
    background-color: #2727df;
}

.bida-color-label{
    background-color: #ff9fd2;
}



.borgu-color-label{
    background-color: #9f6d3a;
}


.bosso-color-label{
    background-color: #ff0707;
}

.chanchaga-color-label{
    background-color: #ffd207;
}


.edati-color-label{
    background-color: #d26d3a;
}


.gbako-color-label{
    background-color: #3a07d2;
}


.gurara-color-label{
    /* to be revisited */
    background-color: #a824f0;
}


.katcha-color-label{
    /* to be revisited */
    background-color: #ffd29f;
}


.kontagora-color-label{
    /* to be revisited */
    background-color: #ff6d07;
}

.lapai-color-label{
    /* to be revisited */
    background-color: #9f6d3a;
}


.lavun-color-label{
    background-color: #8423df;
}


.magama-color-label{
    background-color: #bd6666;
}


.mariga-color-label{
    background-color: #d29f3a;
}


.mashegu-color-label{
    background-color:  #b9b9b9;
}


.mokwa-color-label{
    background-color:  #9f07ff;
}


.munya-color-label{
    background-color:  #d29fd2;
}


.paikoro-color-label{
    background-color:  #9a0acc;
}

.rafi-color-label{
    background-color: #ff9f9f;
}


.rijau-color-label{
    background-color: #9fffff;
}


.shiroro-color-label{
    background-color: #9f9f3a;
}


.suleja-color-label{
    background-color: #8028d8;
}



.tafa-color-label{
    background-color: #ff076d;
}


.wushishi-color-label{
    background-color: #cfcf55;
}



